<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwx.mystory.mapper.ContentMapper">
    <resultMap id="BaseResultMap" type="com.lwx.mystory.model.entity.Content">
        <id column="cid" jdbcType="INTEGER" property="cid" />
        <result column="title" jdbcType="INTEGER" property="title" />
        <result column="slug" jdbcType="VARCHAR" property="slug" />
        <result column="created" jdbcType="INTEGER" property="created" />
        <result column="modified" jdbcType="INTEGER" property="modified" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="author_id" jdbcType="INTEGER" property="authorId" />
        <result column="hits" jdbcType="INTEGER" property="hits" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="fmt_type" jdbcType="VARCHAR" property="fmtType" />
        <result column="thumb_img" jdbcType="VARCHAR" property="thumbImg" />
        <result column="tags" jdbcType="VARCHAR" property="tags" />
        <result column="categories" jdbcType="VARCHAR" property="categories" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="comments_num" jdbcType="INTEGER" property="commentsNum" />
        <result column="allow_comment" jdbcType="INTEGER" property="allowComment" />
        <result column="allow_ping" jdbcType="INTEGER" property="allowPing" />
        <result column="allow_feed" jdbcType="INTEGER" property="allowFeed" />
    </resultMap>

    <select id="getContentsByType" resultMap="BaseResultMap">
        SELECT * from t_contents WHERE type = #{type} and status = #{status} order by created desc
    </select>

    <select id="getContentById" resultMap="BaseResultMap">
        select * from t_contents where cid = #{cid}
    </select>

    <update id="updateContent" parameterType="com.lwx.mystory.model.entity.Content">
        update t_contents
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="slug != null">
                slug = #{slug,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=INTEGER},
            </if>
            <if test="modified != null">
                modified = #{modified,jdbcType=INTEGER},
            </if>
            <if test="authorId != null">
                author_id = #{authorId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                tags = #{tags,jdbcType=VARCHAR},
            </if>
            <if test="fmtType != null">
                fmt_type = #{fmtType,jdbcType=VARCHAR},
            </if>
            <if test="thumbImg != null">
                thumb_img = #{thumbImg,jdbcType=VARCHAR},
            </if>
            <if test="categories != null">
                categories = #{categories,jdbcType=VARCHAR},
            </if>
            <if test="hits != null">
                hits = #{hits,jdbcType=INTEGER},
            </if>
            <if test="commentsNum != null">
                comments_num = #{commentsNum,jdbcType=INTEGER},
            </if>
            <if test="allowComment != null">
                allow_comment = #{allowComment,jdbcType=INTEGER},
            </if>
            <if test="allowPing != null">
                allow_ping = #{allowPing,jdbcType=INTEGER},
            </if>
            <if test="allowFeed != null">
                allow_feed = #{allowFeed,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where cid = #{cid,jdbcType=INTEGER}
    </update>

    <!--查询归档，这里mapper只是绑定对应的接口，然而返回结果自己控制-->
    <resultMap id="archiveMap" type="com.lwx.mystory.model.dto.Archive">
        <id column="date" property="date"></id>
        <result column="count" property="count"/>
    </resultMap>
    <select id="getArchives" resultMap="archiveMap">
        select from_unixtime(created,'%Y年%m月') as date,count(*) as count from t_contents where type = #{type} and status = #{status} group by date order by date desc
    </select>

    <select id="getContentsByConditions" resultMap="BaseResultMap">
        select cid,slug,title,created from t_contents where <![CDATA[ type = #{type} and status = #{status} and created > #{startTime} and created < #{endTime} ]]>
    </select>

    <select id="getContentBySlug" resultMap="BaseResultMap">
        select * from t_contents where slug = #{slug}
    </select>
</mapper>