<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwx.mystory.mapper.MetaMapper">
    <resultMap id="BaseResultMap" type="com.lwx.mystory.model.entity.Meta">
        <id column="mid" jdbcType="INTEGER" property="mid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="slug" jdbcType="VARCHAR" property="slug"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="parent" jdbcType="INTEGER" property="parent"/>
    </resultMap>

    <resultMap id="MetaEX" type="com.lwx.mystory.model.entity.MetaEx" extends="BaseResultMap">
        <result column="count" property="count" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getMetaByTypeAndName" resultMap="BaseResultMap">
        select * from t_metas where type = #{type} and name = #{name}
    </select>


    <select id="getMetasByType" resultMap="BaseResultMap">
        select * from t_metas where type = #{type} order by sort desc
    </select>


    <select id="countWithSql" resultType="java.lang.Integer">
        select count(0) from t_contents a left join t_relationships b on a.cid = b.cid
        where b.mid = #{value} and a.status = 'publish' and a.type = 'post'
    </select>

    <select id="getMetasBySql" resultType="MetaEx">
        select a.*,count(b.cid) as count
        from t_metas a left join t_relationships b on a.mid = b.mid
        where a.type = #{type} group by a.mid order by count desc ,a.mid desc
    </select>


    <select id="selectMetaListByConditions" resultMap="BaseResultMap">
        SELECT * FROM t_metas WHERE type = #{type} and name = #{name}
    </select>

    <insert id="saveMeta" parameterType="com.lwx.mystory.model.entity.Meta" useGeneratedKeys="true" keyProperty="mid">
        insert into t_metas (mid, name, slug,
        type, description, sort,
        parent)
        values (#{mid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{slug,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER},
        #{parent,jdbcType=INTEGER})
    </insert>


    <update id="updateMeta" parameterType="com.lwx.mystory.model.entity.Meta">
        update t_metas
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="slug != null">
                slug = #{slug,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="parent != null">
                parent = #{parent,jdbcType=INTEGER},
            </if>
        </set>
        where mid = #{mid,jdbcType=INTEGER}
    </update>

    <select id="getMetaById" resultMap="BaseResultMap">
        SELECT * FROM t_metas WHERE mid = #{id}
    </select>

    <delete id="delMetaById">

    </delete>
</mapper>