<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwx.mystory.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.lwx.mystory.model.entity.Users">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="home_url" jdbcType="VARCHAR" property="home_url"/>
        <result column="screen_name" jdbcType="VARCHAR" property="screen_name"/>
        <result column="created" jdbcType="INTEGER" property="created"/>
        <result column="activated" jdbcType="INTEGER" property="activated"/>
        <result column="logged" jdbcType="INTEGER" property="logged"/>
        <result column="group_name" jdbcType="VARCHAR" property="group_name"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>


    <select id="getUserById" resultMap="BaseResultMap">
        select * from t_users where id = #{id}
    </select>
</mapper>