<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwx.mystory.mapper.VisitMapper">
    <resultMap id="BaseResultMap" type="com.lwx.mystory.model.entity.Visit">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="modify_time" jdbcType="INTEGER" property="modifyTime"/>
    </resultMap>

    <update id="updateCountById">
        UPDATE t_visit SET count = #{times} where id = '1'
    </update>

    <select id="getCountById" resultMap="BaseResultMap">
        SELECT * FROM t_visit WHERE id = #{id}
    </select>

</mapper>